.one {
    color: blueviolet;
    font-size: 40px;
}

.two {
    color: rgb(105, 77, 136);
    font-size: 20px;
}

.three {
    color: rgb(96, 187, 157);
    font-size: 10px;
}

.four {
    color: #4A78A5;
    font-size: 17px;
}

.five {
    color: #4A78A5;
    font-size: 17px;
}

.six {
    color: #2BA48F;
    font-size: 16px;
}